name: Build

on:
  push:
    branches: [ main ]
  release:
    types: [ published ]

env:
    NETCORE_VERSION: '6.0.000'
    DOTNET_SKIP_FIRST_TIME_EXPERIENCE: false
    DOTNET_CLI_TELEMETRY_OPTOUT: true
    PROJECT_NAME: SocialMediaSharingBlazor
    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    NUGET_FEED: https://api.nuget.org/v3/index.json
    NUGET_KEY: ${{ secrets.NUGET_KEY }}

jobs:
  build:
    name: Build and pack
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup .NET Core ${{ env.NETCORE_VERSION }}
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ env.NETCORE_VERSION }}
      env:
        NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}


    - name: Build Local Storage
      run: dotnet build -c Release src/$PROJECT_NAME/$PROJECT_NAME.csproj

  deploy:
    needs: build
    if: github.event_name == 'release'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.NETCORE_VERSION }}
      
      - name: Create Release NuGet package
        run: |
          arrTag=(${GITHUB_REF//\// })
          VERSION="${arrTag[2]}"
          echo Version: $VERSION
          VERSION="${VERSION//v}"
          echo Clean Version: $VERSION
          dotnet pack -v normal -c Release --include-symbols --include-source -p:PackageVersion=$VERSION -o nupkg src/$PROJECT_NAME/$PROJECT_NAME.csproj
      
      - name: Push to NuGet Feed
        run: dotnet nuget push ./nupkg/*.nupkg --source $NUGET_FEED --api-key $NUGET_KEY --skip-duplicate